<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.AddMessagesMapper">

  <select id="usersId" resultType="string">
        SELECT 
            UserId
        FROM 
            react_use.user_messagegroups
        WHERE 
            messageGroupId = #{messageGroupId} AND
            DeleteFlag  = 0 AND 
            PlatformId = #{platformId} AND
            userId != #{uid}
  </select>

  <select id="getCaseRelatedUserInfo" resultType="com.web.app.domain.Entity.CaseRelations">
        SELECT
            PetitionUserId,
            PetitionUserInfo_Email,
            Agent1_Email,
            Agent2_Email,
            Agent3_Email,
            Agent4_Email,
            Agent5_Email,
            TraderUserEmail,
            TraderAgent1_UserEmail,
            TraderAgent2_UserEmail,
            TraderAgent3_UserEmail,
            TraderAgent4_UserEmail,
            TraderAgent5_UserEmail,
            MediatorUserEmail
        FROM
            case_relations
        WHERE
            CaseId = #{caseId}
            AND PlatformId = #{platformId}
            AND DeleteFlag = 0
    </select>

  <insert id="messagesInsert">
        INSERT INTO react_use.messages (
            id,
            PlatformId,
            CaseId,
            messageGroupId,
            SendUserId,
            SendUserType,
            SendDate,
            MessageType,
            Message,
            FileId1,
            FileId2,
            FileId3,
            CaseStage,
            JoinedUserId,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy
        )
        VALUES (
            #{id},
            "001",
            #{caseId},
            null,
            #{uid},
            3,
            CURRENT_TIMESTAMP,
            4,
            null,
            null,
            null,
            null,
            6,
            #{uid},
            null,
            null,
            null,
            null,
            null,
            0,
            CURRENT_TIMESTAMP,
            #{uid}
        )
  </insert>

  <insert id="usersMessagesInsert" >
        INSERT INTO react_use.user_messages (
            id,
            PlatformId,
            CaseId,
            messageGroupId,
            messageId,
            userId,
            ReadFlag,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy
        )
          VALUES
        <foreach collection="list" separator="," item="item">
            (
            #{item.id},
            #{item.platformId},
            #{item.caseId},
            null,
            #{item.messageId},
            #{item.userId},
            0,
            null,
            null,
            null,
            null,
            null,
            0,
            CURRENT_TIMESTAMP,
            #{item.userId}
            )
        </foreach>
  </insert>
</mapper>