<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.CaseFileRelationsMapper">

    <!-- ユーザ情報を取得 -->
    <select id="selectFileId" resultType="String">
        select 
            a.fileId 
        from 
            case_file_relations as a
        inner join
            files as b
        where 
            a.RelationType = #{relationType} and
            a.RelatedId = #{RelatedId} and
            a.fileId = b.id
    </select>

    <!-- TBL「案件-添付ファイルリレーション（case_file_relations）」を論理削除する -->
    <update id="updateDeleteFlag">
        update
            case_file_relations
        set
            DeleteFlag = #{deleteFlag}
        where
            id = #{id}
    </update>

    <!-- TBL「案件-添付ファイルリレーション（case_file_relations）」のMAX（id）の取得 -->
    <select id="selectMaxId" resultType="String">
        select 
            MAX(id) AS id
        from 
            case_file_relations
    </select>

    <!-- .TBL「案件-添付ファイルリレーション（case_file_relations）」を新規登録する -->
    <insert id="insertCaseFileRelations" parameterType="com.web.app.domain.Entity.InsertCaseFileRelations">
        insert into cases(
            id,
            PlatformId,
            CaseId,
            RelationType,
            RelatedId,
            fileId,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy
        )
        values(
            #{id},
            #{platformId},
            #{caseId},
            #{relationType},
            #{relatedId},
            #{fileId},
            #{deleteFlag},
            #{lastModifiedDate},
            #{lastModifiedBy}
        )
    </insert>
</mapper>
