<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.CaseRelationsMapper">
    <resultMap id="RelationsList" type="com.web.app.domain.CaseRelations">
        <id property="caseId" column="CaseId" jdbcType="VARCHAR"/>
        <result property="petitionUserInfoEmail" column="PetitionUserInfo_Email" jdbcType="VARCHAR"/>
        <result property="agent1Email" column="Agent1_Email" jdbcType="VARCHAR"/>
        <result property="agent2Email" column="Agent2_Email" jdbcType="VARCHAR"/>
        <result property="agent3Email" column="Agent3_Email" jdbcType="VARCHAR"/>
        <result property="agent4Email" column="Agent4_Email" jdbcType="VARCHAR"/>
        <result property="agent5Email" column="Agent5_Email" jdbcType="VARCHAR"/>
        <result property="traderUserEmail" column="TraderUserEmail" jdbcType="VARCHAR"/>
        <result property="traderAgent1UserEmail" column="TraderAgent1_UserEmail" jdbcType="VARCHAR"/>
        <result property="traderAgent2UserEmail" column="TraderAgent2_UserEmail" jdbcType="VARCHAR"/>
        <result property="traderAgent3UserEmail" column="TraderAgent3_UserEmail" jdbcType="VARCHAR"/>
        <result property="traderAgent4UserEmail" column="TraderAgent4_UserEmail" jdbcType="VARCHAR"/>
        <result property="traderAgent5UserEmail" column="TraderAgent5_UserEmail" jdbcType="VARCHAR"/>
        <result property="mediatorUserEmail" column="MediatorUserEmail" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="RelationsListDataSearch" resultMap="RelationsList">
        SELECT 
            CaseId,
            PetitionUserInfo_Email,
            Agent1_Email,
            Agent2_Email,
            Agent3_Email,
            Agent4_Email,
            Agent5_Email,
            TraderUserEmail,
            TraderAgent1_UserEmail,
            TraderAgent2_UserEmail,
            TraderAgent3_UserEmail,
            TraderAgent4_UserEmail,
            TraderAgent5_UserEmail,
            MediatorUserEmail
      FROM react_use.case_relations
      WHERE
              CaseId=#{caseId}
          AND DeleteFlag=0
          
    </select>
</mapper>