<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.casesMapper">

    <!-- ユーザ情報を取得 -->
    <select id="selectMaxCid" resultType="String">
        select 
            MAX(cid) AS cid
        from 
            cases
    </select>

    <!-- TBL「案件（cases）」の新規登録 -->
    <insert id="insertCases" parameterType="com.web.app.domain.Entity.InsertCases">
        insert into cases(
            cid,
            platformId,
            caseStage,
            caseStatus,
            caseTitle,
            petitionDate,
            languageId,
            replyStartDate,
            replyEndDate
        )
        values(
            #{cid},
            #{platformId},
            #{caseStage},
            #{caseStatus},
            #{caseTitle},
            #{petitionDate,},
            #{languageId},
            #{replyStartDate},
            #{replyEndDate}
        )
    </insert>
</mapper>
