<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.CommonMapper">
    <resultMap id="BaseResultMap" type="com.web.app.domain.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="portrait" column="portrait" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="regIp" column="reg_ip" jdbcType="VARCHAR"/>
        <result property="accountNonExpired" column="account_non_expired" jdbcType="BIT"/>
        <result property="credentialsNonExpired" column="credentials_non_expired" jdbcType="BIT"/>
        <result property="accountNonLocked" column="account_non_locked" jdbcType="BIT"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="isDel" column="is_del" jdbcType="BIT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="firstName" column="FirstName" jdbcType="VARCHAR"/>
        <result property="middleName" column="MiddleName" jdbcType="VARCHAR"/>
        <result property="lastName" column="LastName" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 根据platformID查询platform信息 -->
    <select id="FindMasterPlatforms" resultType="com.web.app.domain.Entity.MasterPlatforms">
        SELECT
            *
        FROM
            master_platforms
        WHERE
            Id = #{platformId}
            AND DeleteFlag = false
        ORDER BY
            Id
    </select>

    <!-- 根据用户ID或用户邮箱查询用户信息 -->
    <select id="FindUserByUidOrEmail" resultType="com.web.app.domain.Entity.OdrUsers">
        SELECT
            *
        FROM
            odr_users
        WHERE
        <choose>
            <when test="uid != null and uid != ''">
                    Uid = #{uid}
            </when>
            <otherwise>
                    Email = #{email}
            </otherwise>
        </choose>
        <choose>
            <when test="platformId != null and platformId != ''">
                    AND PlatformId = #{platformId}
            </when>
            <otherwise>
                    AND 1 = 1
            </otherwise>
        </choose>
            AND DeleteFlag = false
    </select>
    <!-- 根据caseID查询案件信息 -->
    <select id="FindCasesInfoByCid" resultType="com.web.app.domain.Entity.Cases">
        SELECT
            *
        FROM
            cases
        WHERE
            cid = #{cid}
            AND DeleteFlag = false
    </select>

    <!-- 查询种类信息 -->
    <select id="FindMasterTypeName" resultType="com.web.app.domain.Entity.MasterTypes">
        SELECT
            *
        FROM
            master_types
        WHERE
            LanguageId = #{languageId}
            AND PlatformId = #{platformId}
            AND Type = #{type}
        ORDER BY
            OrderNo
    </select>

    <!-- 取得邮件模板 -->
    <select id="FindMailTemplatesList" resultType="com.web.app.domain.Entity.MailTemplates">
        SELECT
            *
        FROM
            mail_templates
        WHERE
            PlatformId = #{platformId}
            AND TemplateNo = #{tempId}
            AND LanguageId = 'jp'
    </select>

    <select id="GetUserDataFromCaseIdentity" resultMap="BaseResultMap">
        SELECT odr_users.FirstName,odr_users.MiddleName,odr_users.LastName FROM odr_users INNER JOIN case_relations
        WHERE case_relations.CaseId = #{caseId}
        AND case_relations.PlatformId = #{platformId}
        AND case_relations.DeleteFlag = '0'
        <if test="identity">
            AND odr_users.Email = case_relations.PetitionUserInfo_Email
        </if>
        <if test="!identity">
            AND odr_users.Email = case_relations.TraderUserEmail
        </if>
        AND odr_users.PlatformId = #{platformId}
        AND odr_users.DeleteFlag = '0'
        AND odr_users.Status = '0'
    </select>

    <insert id="InsHistories">
        insert into action_histories(
        id,
        PlatformId,
        CaseId,
        ActionType,
        CaseStage,
        UserId,
        UserType,
        ActionDateTime,
        MessageGroupId,
        MessageId,
        HaveFile,
        Parameters,
        Other01,
        Other02,
        Other03,
        Other04,
        Other05,
        DeleteFlag,
        LastModifiedDate,
        LastModifiedBy) 
        values(
            #{id},
            #{PlatformId},
            #{CaseId},
            #{ActionType},
            #{CaseStage},
            #{UserId},
            #{UserType},
            #{ActionDateTime},
            #{MessageGroupId},
            #{MessageId},
            #{HaveFile},
            #{Parameters},
            #{Other01},
            #{Other02},
            #{Other03},
            #{Other04},
            #{Other05},
            #{DeleteFlag},
            #{LastModifiedDate},
            #{LastModifiedBy}
            )
    </insert>

    <!-- アクション履歴-添付ファイルリレーション -->
    <select id="FindFileRelations" resultType="com.web.app.domain.Entity.ActionFileRelations">
        select * from 
            Action_File_Relations
        where
            id = #{id}
            And DeleteFlag = '0'
    </select>

    <!-- 「アクション履歴-添付ファイルリレーション」新規登録 -->
    <insert id="InsertActionFileRelations">
        insert into Action_File_Relations(
            id,
            PlatformId,
            CaseId,
            ActionHistoryId,
            fileId,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy)
        values(
            #{id},
            #{PlatformId},
            #{CaseId},
            #{ActionHistoryId},
            #{fileId},
            #{Other01},
            #{Other02},
            #{Other03},
            #{Other04},
            #{Other05},
            #{DeleteFlag},
            #{LastModifiedDate},
            #{LastModifiedBy}
            )
    </insert>
</mapper>