<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.CommonMapper">
    <!-- platformIDによるplatform情報の照会 -->
    <select id="FindMasterPlatforms" resultType="com.web.app.domain.Entity.MasterPlatforms">
        SELECT
            *
        FROM
            master_platforms
        WHERE
            Id = #{platformId}
            AND DeleteFlag = false
        ORDER BY
            Id
    </select>

    <!-- ユーザーIDまたはユーザーメールボックスに基づいたユーザー情報の照会 -->
    <select id="FindUserByUidOrEmail" resultType="com.web.app.domain.Entity.OdrUsers">
        SELECT
            *
        FROM
            odr_users
        WHERE
            <choose>
                <when test="uid != null and uid != ''">
                    Uid = #{uid}
                </when>
                <otherwise>
                    Email = #{email}
                </otherwise>
            </choose>
            <choose>
                <when test="platformId != null and platformId != ''">
                    AND PlatformId = #{platformId}
                </when>
                <otherwise>
                    AND 1 = 1
                </otherwise>
            </choose>
            AND DeleteFlag = false
    </select>
    <!-- caseIDによる案件情報の照会 -->
    <select id="FindCasesInfoByCid" resultType="com.web.app.domain.Entity.Cases">
        SELECT
            *
        FROM
            cases
        WHERE
            cid = #{cid}
            AND DeleteFlag = false
    </select>

    <!-- チェックボックスを取得する方法 -->
    <select id="FindMasterTypeName" resultType="com.web.app.domain.Entity.MasterTypes">
        SELECT
            Id,
            platformId,
            type,
            Value,
            DisplayName,
            OrderNo,
            Required,
            IsActive,
            LanguageId,
            Creator,
            CreateDate,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy
        FROM
            master_types
        WHERE
            platformId = #{platformId}
            AND type = #{type}
            AND IsActive = 1
            AND LanguageId = #{languageId}
            AND DeleteFlag = false
        ORDER BY
            OrderNo
    </select>

    <!-- メールテンプレートの取得 -->
    <select id="FindMailTemplatesList" resultType="com.web.app.domain.Entity.MailTemplates">
        SELECT
            *
        FROM
            mail_templates
        WHERE
            PlatformId = #{platformId}
            AND TemplateNo = #{tempId}
            AND LanguageId = 'jp'
    </select>
</mapper>