<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.GetRepliesContextMapper">
    <resultMap id="casesByCidResultMap" type="com.web.app.domain.couAnswerLogin.CasesByCid">
        <result column="CaseTitle" jdbcType="VARCHAR" property="CaseTitle" />
    </resultMap>
    <select id="casesByCid" resultMap="casesByCidResultMap">
        SELECT
            CaseTitle
        FROM
            react_use.cases
        WHERE
            cid = #{CaseId}
            and PlatformId = #{PlatformId} 
            and DeleteFlag = 0
    </select>    
</mapper>    