<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.GetCaseRelationsMapper">
    <select id="getCaseRelations" resultType="com.web.app.domain.Entity.CaseRelations">
        SELECT
            CaseId,
            PetitionUserInfo_Email,
            Agent1_Email,
            Agent2_Email,
            Agent3_Email,
            Agent4_Email,
            Agent5_Email,
            TraderUserEmail,
            TraderAgent1_UserEmail,
            TraderAgent2_UserEmail,
            TraderAgent3_UserEmail,
            TraderAgent4_UserEmail,
            TraderAgent5_UserEmail
        FROM
            case_relations
        WHERE
            CaseId = #{CaseId}
            AND DeleteFlag = 0
    </select>
</mapper>