<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.GetCaseMediationsDataMapper">
    <!-- API_調停内容取得 -->
    <resultMap id="caseMediationsMap" type="com.web.app.domain.Entity.CaseMediations">
    </resultMap>
    <!-- 調停内容の取得 -->
    <select id="getCaseMediations" resultMap="caseMediationsMap">
        SELECT
            CaseId,
            Status,
            ExpectResloveTypeValue,
            PayAmount,
            CounterClaimPayment,
            PaymentEndDate,
            ShipmentPayType,
            SpecialItem,
            LastModifiedDate
        FROM case_mediations
        WHERE
            CaseId = #{caseId}
        AND Status != 0
        AND DeleteFlag = 0
    </select>

    <resultMap id="filesMap" type="com.web.app.domain.Entity.Files">
    </resultMap>
    <!-- 添付資料の取得 -->
    <select id="getFiles" resultMap="filesMap">
        SELECT
            files.FileName,
            files.FileUrl
        FROM case_file_relations, files
        WHERE
            case_file_relations.CaseId = #{caseId}
        AND case_file_relations.RelationType = 5
        AND case_file_relations.DeleteFlag = 0
        AND files.id = case_file_relations.fileId
        AND files.DeleteFlag = 0
        ORDER BY files.LastModifiedDate
    </select>
</mapper>
