<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.GetCaseInfoMapper">
    <!-- API_案件状態取得 -->
    <resultMap id="casesDataMap" type="com.web.app.domain.MosDetail.CasesData">
    </resultMap>
    <!-- 該当案件のステータスを取得 -->
    <select id="getCasesData" resultMap="casesDataMap">
        SELECT
            cases.cid,
            cases.CaseStage,
            cases.CaseStatus,
            cases.CaseTitle,
            cases.ReplyEndDate,
            cases.CounterclaimEndDate,
            cases.CancelDate,
            cases.ResolutionDate,
            cases.NegotiationEndDate,
            cases.MediationEndDate,
            cases.NegotiationEndDateChangeStatus,
            cases.NegotiationEndDateChangeCount,
            cases.MediationEndDateChangeCount ,
            cases.GroupMessageFlag1 ,
            cases.GroupMessageFlag2,
            case_relations.MediatorUserEmail,
            case_negotiations.Status AS negotiationsStatus,
            case_mediations.Status As mediationsStatus
        FROM cases
        INNER JOIN case_relations
        ON cases.cid = case_relations.CaseId
        LEFT JOIN case_negotiations
        ON cases.cid = case_negotiations.CaseId
        LEFT JOIN case_mediations
        ON cases.cid = case_mediations.CaseId
        WHERE
            cases.cid = #{caseId}
        AND cases.DeleteFlag = 0
        AND case_relations.DeleteFlag = 0
        AND case_negotiations.DeleteFlag = 0
        AND case_mediations.DeleteFlag = 0
    </select>

    <resultMap id="masterPlatformsMap" type="com.web.app.domain.Entity.MasterPlatforms">
    </resultMap>
    <!-- 利用モジュール状況取得 -->
    <select id="getPhases" resultMap="masterPlatformsMap">
        SELECT
            Phase_negotiation,
            Phase_mediation,
            Phase_arbitration,
            Phase_reply
        FROM master_platforms
        WHERE
            Id = #{platformId}
        AND DeleteFlag = 0
    </select>

    <resultMap id="odrUsersMap" type="com.web.app.domain.Entity.OdrUsers">
    </resultMap>
    <!-- チュートリアル表示制御取得 -->
    <select id="getShowTuritor" resultMap="odrUsersMap">
        SELECT
            ShowTuritor1,
            ShowTuritor2,
            ShowTuritor3
        FROM odr_users
        WHERE
            Uid = #{userId}
        AND PlatformId = #{platformId}
        AND DeleteFlag = 0
    </select>
</mapper>
