<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.GetFileNameMapper">
    <select id="SelFile" resultType="String">
        SELECT
            FileName
        FROM
            files
        WHERE
            id = #{FileId}
    </select>
</mapper>