<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.GetFileInfoMapper" >

      <!--通过id和caseid查询信息-->

      <select id="findGetFileInfo" resultType="com.web.app.domain.MosFileList.Files">
        SELECT
            c3.FileName,
            c3.FileUrl,
            c3.RegisterUserId,
            c3.RegisterDate
        FROM
            react_use.action_histories c1,react_use.action_file_relations c2,react_use.files c3
        WHERE
            c1.CaseId = #{caseid}
            AND c1.DeleteFlag = 0
            AND c1.UserType in (1,2,3)
            AND c1.HaveFile = 0
            AND ( c1.MessageGroupId is null
            OR c1.MessageGroupId IN (
                SELECT 
                    user_messagegroups.messageGroupId
                FROM
                    react_use.user_messagegroups
                WHERE
                    user_messagegroups.userId = #{id}
                    AND user_messagegroups.CaseId = #{caseid}
            ))
            AND c2.ActionHistoryId = c1.Id
            AND c2.DeleteFlag=0
            AND c3.id = C2.fileId
            AND c3.DeleteFlag=0
            <if test = "flag==2 and (mediatorDisclosureFlag == 0  or mediatorDisclosureFlag == 2)">
            AND c1.CaseStage !=3
            </if> 
        ORDER BY 
            c1.UserId
            
    </select>
     
</mapper>