<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.GetLanguagesDataMapper">

    <resultMap id="BaseResultMap" type="com.web.app.domain.Nav.LanguagesData">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="languageName" column="LanguageName" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectAllLanguages" resultMap="BaseResultMap">
        SELECT 
              id,
              languageName 
        FROM  react_use.master_languages 
        WHERE deleteFlag = '0'
        ORDER BY languageName
    </select>

</mapper>
