<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.GetMediationsUserDataMapper">
    <select id="findAllUser" resultType="com.web.app.domain.MediationsUserData">
        SELECT 
            firstName,middleName,lastName,companyName
        FROM
            odr_users
        WHERE
            Uid = #{caseId} and
            PlatformId = #{platformId} and
            DeleteFlag = 0 and
            Status = 0
    </select>
</mapper>