<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.GetNegotiationsStatusMapper">
    <select id="getNegotiationsStatusInfoSearch" resultType="com.web.app.domain.NegotiatMake.SettlementDraftDataCaseNegotiations">
        SELECT
        Status,
        UserId,
			id
        FROM case_negotiations
        WHERE   
            CaseId = #{sessionCaseId}  
            AND PlatformId = #{platformId}
            AND DeleteFlag = 0
    </select>
</mapper> 