<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.GetNegotiationsTemplateMapper">
    <resultMap id="GetNegotiationsTemplateResultMap" type="com.web.app.domain.NegotiatPreview.MasterTemplates">
        <id property="id" column="Id" jdbcType="VARCHAR"/>
        <result property="deleteFlag" column="DeleteFlag" jdbcType="INTEGER"/>
        <result property="templateType" column="TemplateType" jdbcType="INTEGER"/>
        <result property="languageId" column="LanguageId" jdbcType="VARCHAR"/>  
        <result property="platformId" column="platformId" jdbcType="INTEGER"/>
        <result property="templateId" column="templateId" jdbcType="VARCHAR"/>
        <result property="startDate" column="startDate" jdbcType="VARCHAR"/>          
        <result property="templateName" column="templateName" jdbcType="INTEGER"/>
        <result property="context" column="context" jdbcType="VARCHAR"/>
        <result property="usageCount" column="usageCount" jdbcType="VARCHAR"/>  
        <result property="registerUserId" column="RegisterUserId" jdbcType="VARCHAR"/>
        <result property="registerDate" column="RegisterDate" jdbcType="VARCHAR"/>
        <result property="other01" column="Other01" jdbcType="VARCHAR"/>
        <result property="other02" column="Other02" jdbcType="VARCHAR"/>
        <result property="other03" column="Other03" jdbcType="VARCHAR"/>
        <result property="other04" column="Other04" jdbcType="VARCHAR"/>
        <result property="other05" column="Other05" jdbcType="VARCHAR"/>
        <result property="isActive" column="IsActive" jdbcType="INTEGER"/>
    </resultMap>
    <select id="selectContext" resultMap="GetNegotiationsTemplateResultMap">
        SELECT
            Context,
            TemplateType
        FROM
            master_templates
        WHERE
            DeleteFlag = #{deleteFlag}
            AND LanguageId = #{languageId}
            AND 
                TemplateType IN
                <foreach collection="templateTypes" item="templateTypes" separator="," open="(" close=")">
                    #{templateTypes}
                </foreach>
    </select>
   
</mapper>