<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.GetPlatformMapper">
    <resultMap id="odrUsersResultMap" type="com.web.app.domain.Entity.OdrUsers">
    </resultMap>
    <resultMap id="petitionResultMap" type="com.web.app.domain.Entity.MasterTypes">
    </resultMap>
    <resultMap id="statusResultMap" type="com.web.app.domain.Entity.MasterPlatforms">
    </resultMap>
    <resultMap id="expandResultMap" type="com.web.app.domain.MosLogin.ExpandItems">
        <result property="itemDisplayName" column="ItemDisplayName" jdbcType="VARCHAR"/>
        <result property="itemType" column="ItemType" jdbcType="INTEGER"/>
        <result property="isRequired" column="IsRequired" jdbcType="INTEGER"/>
    </resultMap>
    <!-- ユーザ情報を取得する -->
    <select id="selectOdrUsers"  resultMap="odrUsersResultMap">
        SELECT 
            PlatformId
        FROM
            odr_users
        WHERE
            Uid = #{sessionId}
    </select>
    <!-- 申立ての種類の表示内容の取得 -->
    <select id="masterTypesSearch1" resultMap="petitionResultMap">
        SELECT 
            Value,
            DisplayName,
            OrderNo,
            Required,
            LanguageId
        FROM
            master_types
        WHERE
            platformId = concat(#{getPlatformId},'- P001')
            AND type = 'PetitionType'
        ORDER BY OrderNo ASC
    </select>
    <!-- 希望する解決方法の表示内容の取得 -->
    <select id="masterTypesSearch2" resultMap="petitionResultMap">
        SELECT 
            Value,
            DisplayName,
            OrderNo,
            Required,
            LanguageId
        FROM
            master_types
        WHERE
            platformId = concat(#{getPlatformId},'- P001')
            AND type = 'ResloveType'
        ORDER BY OrderNo ASC
    </select>
    <!-- 画面制御表示項目表示状態の取得 -->
    <select id="masterPlatformsSearch" resultMap="statusResultMap">
        SELECT 
            UserProductId,
            UseTraderName,
            UseProductUrl,
            UseOther
        FROM
            master_platforms
        WHERE
            Id = #{getPlatformId}
    </select>
    <!-- 拡張項目の取得 -->
    <select id="expandProjectSearch" resultMap="expandResultMap">
        SELECT 
            me.ItemDisplayName,
            me.ItemType,
            ce.IsRequired
        FROM
            case_extensionitem_relations ce, master_extensionitems me
        WHERE
            ce.PlatformId = '001'
            AND ce.RelationType = 0
            AND ce.DeleteFlag = 0
            AND me.Id = ce.ExtensionItemId
            AND me.LanguageId = "jp"
            AND me.DeleteFlag = 0
        ORDER BY ce.DisplayOrder ASC
    </select>
</mapper>