<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.GetPetitionsContentMapper">
    <select id="PetitionListDataSearch" resultType="com.web.app.domain.Entity.CasePetitions">
        SELECT 
            CaseId,
            productName,
            ProductId,
            TraderName,
            TraderMail,
            TraderUrl,
            BoughtDate,
            Price,
            petitionTypeValue,
            petitionContext,
            ExpectResloveTypeValue,
            Other,
            LastModifiedDate
        FROM react_use.case_petitions
        WHERE
            CaseId=#{caseId}
            AND Status!=0 
            AND DeleteFlag=0

    </select>

    <resultMap id="PetitionFile" type="com.web.app.domain.MosDetail.AttachedFile">
        <id property="filename" column="FileName" jdbcType="VARCHAR"/>
        <result property="fileUrl" column="FileUrl" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="PetitionFileSearch" resultMap="PetitionFile">
        SELECT 
              A.FileName,
              A.FileUrl
        FROM 
              react_use.files as A
        LEFT JOIN
              react_use.case_file_relations as B
        ON
              A.id = B.fileid
        WHERE 
                B.CaseId=#{caseId}
            AND B.RelationType=0
            AND B.DeleteFlag=0
            AND A.DeleteFlag=0
    </select>

    <resultMap id="PetitionExtensionitem" type="com.web.app.domain.MosDetail.ExtensionItem">
        <id property="itemDisplayName" column="ItemDisplayName" jdbcType="VARCHAR"/>
        <result property="ExtensionitemValue" column="ExtensionitemValue" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="PetitionExtensionitemSearch" resultMap="PetitionExtensionitem">
        SELECT 
              B.ItemDisplayName,
              A.ExtensionitemValue
        FROM 
              case_extensionitem_values as A
        LEFT JOIN
              master_extensionitems as B
        ON
              B.id = A.ExtensionItemId
        LEFT JOIN
              case_extensionitem_relations as C
        ON	A.ExtensionItemId=C.ExtensionItemId
        WHERE 
                A.PlatformId="001"
            AND A.CaseId=#{caseId}
            AND A.DeleteFlag=0
            AND B.LanguageId="jp"
            AND B.DeleteFlag=0
            AND C.PlatformId="001"
            AND C.RelationType=0
            AND C.DeleteFlag=0
            ORDER BY
              C.DisplayOrder asc
              LIMIt 5
    </select>
</mapper>