<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.GetQuestionnairesMapper">
    <select id="questionnaieDataSearch" resultType="com.web.app.domain.QuesAnswer.QuestionnaireData">
        SELECT 
            QuestionId,
            UserEmail,
            UserType,
            CaseId
        FROM
            react_use.questionnaire_mails
        WHERE
            GUID = #{Id}
    </select>

    <select id="questionnaieCountSearch" resultType="Integer">
        SELECT
            COUNT(*)
        FROM
            react_use.questionnaire_mails as A
        WHERE
            A.QuestionId= #{questionId}  and
            A.CaseId=#{caseId} and
            A.UserType=#{userType} 
    </select>

    <select id="searchQuestionnaieList" resultType="com.web.app.domain.QuesAnswer.QuestionnaireList">
        SELECT
              A.Description,
              A.Type,
              A.ActiveFlag,
              A.Order,
              A.RequireFlag
        FROM
            react_use.questionnaires as A
        WHERE
              A.PlatformId=#{platformId} and
              A.EffectiveDate >  CURRENT_DATE() and
              A.Open=1 and
              A.ActiveFlag=1 and
              A.QuestionId=#{questionId} 
        Order By
              A.Order ASC
    </select>
</mapper>