<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.GetRepliesContextMapper">
    <resultMap id="getRepliesContextResultMap" type="com.web.app.domain.couAnswerLogin.RepliesContext">
        <result column="CounterClaimContext" jdbcType="VARCHAR" property="CounterClaimContext" />
        <result column="FileName" jdbcType="VARCHAR" property="FileName" />
        <result column="FileUrl" jdbcType="VARCHAR" property="FileUrl" />
    </resultMap>
    <select id="getRepliesContext" resultMap="getRepliesContextResultMap">
        SELECT
            react_use.case_replies.CounterClaimContext,
            react_use.files.FileName,
            react_use.files.FileUrl
        FROM
            react_use.case_replies,react_use.cases,react_use.case_file_relations,react_use.files
        WHERE
            react_use.case_replies.CaseId = #{CaseId}
            and react_use.case_replies.PlatformId = #{PlatformId} 
            and react_use.case_replies.Status = 2
            and react_use.case_replies.DeleteFlag = 0
            and react_use.cases.cid = #{PlatformId}            
            and react_use.cases.PlatformId = 0
            and react_use.cases.DeleteFlag = 0
            and react_use.case_file_relations.CaseId = react_use.case_replies.CaseId
            and react_use.case_file_relations.RelationType = 1
            and react_use.case_file_relations.PlatformId = #{PlatformId} 
            and react_use.case_file_relations.RelatedId = react_use.case_replies.id
            and react_use.case_file_relations.DeleteFlag = 0
            and react_use.files.id = react_use.case_file_relations.fileId
            and react_use.files.PlatformId = #{PlatformId} 
            order by react_use.files.LastModifiedDate asc;
    </select>
</mapper>



    


