<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.web.app.mapper.GetUserIDbyMailMapper">
  <select id="mediatorUserEmail" resultType="string">
        SELECT
            MediatorUserEmail
        FROM
            case_relations
        WHERE
            CaseId = #{CaseId}
    </select>

    <select id="userUid" resultType="string">
        SELECT
            Uid
        FROM
            odr_users
        WHERE
            Email = #{MediatorUserEmail}
    </select>
</mapper>