<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.InsClaimRepliesDataMapper">
    <insert id="insClaimReplies" parameterType="com.web.app.domain.couAnswerLogin.CaseClaimReplies">
        INSERT INTO react_use.case_claimreplies (
            id,
            PlatformId,
            CaseId,
            Status,
            replyContext,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedBy
        )
        VALUES (
            #{id},
            #{PlatformId},
            #{CaseId},
            0,
            #{replyContext},
            null,
            null,
            null,
            null,
            null,
            0,
            #{lastModifiedBy}
        )
    </insert>

    <insert id="insClaimRepliesDataFiles" parameterType="com.web.app.domain.couAnswerLogin.ReactUseFiles">
        INSERT INTO react_use.files (
            id,
            PlatformId,
            CaseId,
            FileName,
            FileExtension,
            FileUrl,
            FileBlobStorageId,
            FileSize,
            RegisterUserId,
            RegisterDate,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy
        )
        VALUES (
            #{id},
            #{PlatformId},
            #{CaseId},
            #{FileName},
            #{FileExtension},
            #{FileUrl},
            NULL,
            #{FileSize},
            #{RegisterUserId},
            CURRENT_TIMESTAMP(),
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            0,
            CURRENT_TIMESTAMP(),
            #{RegisterUserId}
        )
    </insert>

    <insert id="insClaimRepliesDataFilesRelations" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO react_use.case_file_relations (
            id,
            PlatformId,
            CaseId,
            RelationType,
            RelatedId,
            fileId,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy
        )
        VALUES (
            UUID(),
            #{PlatformId},
            #{CaseId},
            3,
            #{RelatedId},
            #{fileId},
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            0,
            CURRENT_TIMESTAMP(),
            #{LastModifiedBy}
        )
    </insert>

    <select id="getUuid" resultType="java.lang.String">
        select UUID()
    </select>

</mapper>


