<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.InsNegotiationDataMapper">

    <insert id="AddCaseNegotiations" parameterType="com.web.app.domain.Entity.CaseNegotiations">
        INSERT INTO case_negotiations(
            id,
            PlatformId,
            CaseId,
            Status,
            InfoStatus,
            ExpectResloveTypeValue,
            OtherContext,
            HtmlContext,
            HtmlContext2,
            PayAmount,
            PaymentEndDate,
            ShipmentPayType,
            ShipmentPayValue,
            SpecialItem,
            UserId,
            SubmitDate,
            AgreementDate,
            TemplateFileName,
            CounterClaimType,
            CounterClaimContext,
            CounterClaimPayment,
            PaymentUser,
            EditAbleUser,
            LanguageId,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy
        )VALUES(
            #{id},
            #{PlatformId},
            #{CaseId},
            #{Status},
            NULL,
            #{ExpectResloveTypeValue},
            #{OtherContext},
            #{HtmlContext},
            #{HtmlContext2},
            #{PayAmount},
            #{PaymentEndDate},
            #{ShipmentPayType},
            NULL,
            #{SpecialItem},
            #{UserId},
            #{SubmitDate},
            NUll,
            NULL,
            NULL,
            NULL,
            #{CounterClaimPayment},
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            #{DeleteFlag},
            #{LastModifiedDate},
            #{LastModifiedBy}
            );
    </insert>

    <insert id="AddFile" parameterType="com.web.app.domain.Entity.File">
        INSERT INTO files(
            id,
            PlatformId,
            CaseId,
            FileName,
            FileExtension,
            FileUrl,
            FileBlobStorageId,
            FileSize,
            RegisterUserId,
            RegisterDate,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy)
        VALUE(
            #{id},
            #{PlatformId},
            #{CaseId},
            #{FileName},
            #{FileExtension},
            #{FileUrl},
            NULL,
            #{FileSize},
            #{RegisterUserId},
            #{RegisterDate},
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            #{DeleteFlag},
            #{LastModifiedDate},
            #{LastModifiedBy}
        );
    </insert>

    <insert id="AddCaseFileRelations" parameterType="com.web.app.domain.Entity.CaseFileRelations">
        INSERT INTO case_file_relations(
            id,
            PlatformId,
            CaseId,
            RelationType,
            RelatedId,
            fileId,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy
            )
        VALUE(
            #{id},
            #{PlatformId},
            #{CaseId},
            4,
            #{RelatedId},
            #{fileId},
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            #{DeleteFlag},
            #{LastModifiedDate},
            #{LastModifiedBy}
        );
    </insert>

</mapper>