<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.InsNegotiationDataMapper">
    <!--  -->
    <!-- <select id="SearchCaseNegotiations" resultType="com.web.app.domain.NegotiatPreview.CaseNegotiations">
        SELECT
            *
        FROM
            case_negotiations
        WHERE
            CaseId = #{caseId}
    </select> -->

    <insert id="AddCaseNegotiations" parameterType="com.web.app.domain.Entity.CaseNegotiations">
        INSERT INTO case_negotiations(
            id,
            PlatformId,
            CaseId,
            Status,
            InfoStatus,
            ExpectResloveTypeValue,
            OtherContext,
            HtmlContext,
            HtmlContext2,
            PayAmount,
            PaymentEndDate,
            ShipmentPayType,
            ShipmentPayValue,
            SpecialItem,
            UserId,
            SubmitDate,
            AgreementDate,
            TemplateFileName,
            CounterClaimType,
            CounterClaimContext,
            CounterClaimPayment,
            PaymentUser,
            EditAbleUser,
            LanguageId,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy
        )VALUES(
            #{id},
            #{PlatformId},
            #{CaseId},
            Status,
            NULL,
            #{ExpectResloveTypeValue},
            #{OtherContext},
            #{HtmlContext},
            #{HtmlContext2},
            #{PayAmount},
            #{PaymentEndDate},
            #{ShipmentPayType},
            ShipmentPayValue,
            #{SpecialItem},
            #{UserId},
            #{SubmitDate},
            NUll,
            NULL,
            NULL,
            NULL,
            #{CounterClaimPayment},
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            0,
            CURRENT_TIMESTAMP(),
            #{UserId}
            );
    </insert>

    <insert id="AddFile" parameterType="com.web.app.domain.Entity.File">
        INSERT INTO files(
            id,
            PlatformId,
            CaseId,
            FileName,
            FileExtension,
            FileUrl,
            FileBlobStorageId,
            FileSize,
            RegisterUserId,
            RegisterDate,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy)
        VALUE(
            #{id},
            #{PlatformId},
            #{CaseId},
            #{FileName},
            #{FileExtension},
            #{FileUrl},
            NULL,
            #{FileSize},
            #{RegisterUserId},
            CURRENT_TIMESTAMP(),
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            0,
            CURRENT_TIMESTAMP(),
            #{LastModifiedBy}
        );
    </insert>

    <insert id="AddCaseFileRelations" parameterType="com.web.app.domain.Entity.CaseFileRelations">
        INSERT INTO case_file_relations(
            id,
            PlatformId,
            CaseId,
            RelationType,
            RelatedId,
            fileId,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy
            )
        VALUE(
            #{id},
            #{PlatformId},
            #{CaseId},
            4,
            (SELECT id FROM case_negotiations WHERE CaseId = #{CaseId}),
            (SELECT id FROM files WHERE DeleteFlag = 0 AND CaseId = #{CaseId}),
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            0,
            CURRENT_TIMESTAMP(),
            #{LastModifiedBy}
        );
    </insert>

    <!-- <update id="UpCaseNegotiations" parameterType="com.web.app.domain.NegotiatPreview.CaseNegotiations">
        UPDATE case_negotiations
        SET
            ExpectResloveTypeValue = #{ExpectResloveTypeValue},
            OtherContext = #{OtherContext},
            PayAmount = #{PayAmount},
            CounterClaimPayment = #{CounterClaimPayment},
            PaymentEndDate = #{PaymentEndDate},
            ShipmentPayType = #{ShipmentPayType},
            SpecialItem = #{SpecialItem},
            HtmlContext = #{HtmlContext},
            HtmlContext2 = #{HtmlContext2},
            SubmitDate = #{SubmitDate},
            Status = #{Status},
            LastModifiedDate = CURRENT_TIMESTAMP(),
            LastModifiedBy = #{UserId}
        WHERE
            CaseId = #{CaseId}
    </update>

    <update id="UpFile" parameterType="com.web.app.domain.NegotiatPreview.File">
        UPDATE files
        SET
            DeleteFlag = 1,
            LastModifiedDate = CURRENT_TIMESTAMP(),
            LastModifiedBy = #{UserId}
        WHERE
            id = #{FileId}
    </update>

    <update id="UpCaseFileRelations" parameterType="com.web.app.domain.NegotiatPreview.CaseFileRelations">
        UPDATE case_file_relations
        SET
            DeleteFlag = 1,
            LastModifiedDate = CURRENT_TIMESTAMP(),
            LastModifiedBy = #{UserId}
        WHERE
            fileId = #{FileId}
    </update> -->
</mapper>