<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.InsQuestionnairesResultsMapper">
    <!-- API_アンケート入力結果新規登録 -->
    <!-- 2.2 アンケート回答内容を登録 -->
    <insert id="insQuestionnairesResults" parameterType="com.web.app.domain.QuesAnswerConfirm.InsQuestionnaireResults">
        INSERT INTO questionnaire_results(
            id,
            PlatformId,
            CaseId,
            MediratorUserId,
            QuestionId,
            UserType,
            AnswerDate,
            result_Q1,
            result_Q2,
            result_Q3,
            result_Q4,
            result_Q5,
            result_Q6,
            result_Q7,
            result_Q8,
            result_Q9,
            result_Q10,
            result_Q11,
            result_Q12,
            result_Q13,
            result_Q14,
            result_Q15,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy
        )VALUES(
            #{id},
            #{platformId},
            #{caseId},
            NULL,
            #{questionId},
            #{userType},
            CURRENT_TIMESTAMP(),
            #{resultQ1},
            #{resultQ2},
            #{resultQ3},
            #{resultQ4},
            #{resultQ5},
            #{resultQ6},
            #{resultQ7},
            #{resultQ8},
            #{resultQ9},
            #{resultQ10},
            #{resultQ11},
            #{resultQ12},
            #{resultQ13},
            #{resultQ14},
            #{resultQ15},
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            0,
            CURRENT_TIMESTAMP(),
            "questionnaire"
        )
    </insert>
</mapper>