<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.InsQuestionnairesResultsMapper">
    <!-- API_アンケート入力結果新規登録 -->
    <!-- 2.2 アンケート回答内容を登録 -->
    <insert id="insQuestionnairesResults" parameterType="com.web.app.domain.Entity.QuestionnaireResults">
        INSERT INTO questionnaire_results(
            id,
            PlatformId,
            CaseId,
            MediratorUserId,
            QuestionId,
            UserType,
            AnswerDate,
            result_Q1,
            result_Q2,
            result_Q3,
            result_Q4,
            result_Q5,
            result_Q6,
            result_Q7,
            result_Q8,
            result_Q9,
            result_Q10,
            result_Q11,
            result_Q12,
            result_Q13,
            result_Q14,
            result_Q15,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy
        )VALUES(
            #{id},
            #{PlatformId},
            #{CaseId},
            #{MediratorUserId},
            #{QuestionId},
            #{UserType},
            CURRENT_TIMESTAMP(),
            #{result_Q1},
            #{result_Q2},
            #{result_Q3},
            #{result_Q4},
            #{result_Q5},
            #{result_Q6},
            #{result_Q7},
            #{result_Q8},
            #{result_Q9},
            #{result_Q10},
            #{result_Q11},
            #{result_Q12},
            #{result_Q13},
            #{result_Q14},
            #{result_Q15},
            #{Other01},
            #{Other02},
            #{Other03},
            #{Other04},
            #{Other05},
            #{DeleteFlag},
            CURRENT_TIMESTAMP(),
            #{LastModifiedBy}
        )
    </insert>
    <!-- 【画面C8】.caseId対応なCaseStage -->
    <select id="getCaseStage" resultType="java.lang.Integer">
        SELECT
            CaseStage
        FROM cases
        WHERE
            cases.cid = #{caseId}
    </select>
</mapper>