<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.InsRelationsTempMapper">
    <!-- TBL「申立（case_petitions）」の新規登録 -->
    <insert id="insCasePetitions" >
        INSERT INTO react_use.case_petitions (
            id,
            PlatformId,
            CaseId,
            Status,
            productName,
            ProductId,
            TraderName,
            TraderMail,
            TraderUrl,
            BoughtDate,
            Price,
            petitionTypeValue,
            petitionTypeOther,
            petitionContext,
            ExpectResloveTypeValue,
            ExpectResloveTypeOther,
            Other,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy,
            IsTemp
        )VALUES(
            #{uuId},
            NULL,
            NULL,
            0,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            0,
            CURRENT_TIMESTAMP(),
            #{loginUser},
            NULL
            )
    </insert>
    <!-- TBL「案件別個人情報リレーション（case_relations）」の新規登録 -->
    <insert id="insCaseRelations">
        INSERT INTO react_use.case_relations (
            id,
            CaseId,
            CasePetition,
            PlatformId,
            PetitionUserId,
            PetitionUserInfo_Email,
            Agent1_Email,
            Agent2_Email,
            Agent3_Email,
            Agent4_Email,
            Agent5_Email,
            TraderUserEmail,
            TraderAgent1_UserEmail,
            TraderAgent2_UserEmail,
            TraderAgent3_UserEmail,
            TraderAgent4_UserEmail,
            TraderAgent5_UserEmail,
            MediatorUserEmail,
            ArbitrationUserEmail,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy
        )VALUES(
            #{uuId},
            NULL,
            #{uuId},
            NULL,
            #{userId},
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            0,
            CURRENT_TIMESTAMP(),
            #{loginUser}
            )
    </insert>
</mapper>
