<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.LoginUserMapper">

    <resultMap id="ResultMap" type="com.web.app.domain.Entity.OdrUsers">
    </resultMap>
    <!-- 申立データ取得 -->
    <select id="getLoginUser" resultMap="ResultMap">
        select 
            FirstName,
            MiddleName,
            LastName,
            FirstName_kana,
            MiddleName_kana,
            LastName_kana,
            PlatformId,
            LanguageId,
            Status,
            TimeZone,
            ConfirmedVersionNoOfTerms,
            ConfirmedVersionNoOfPolicy
        from 
            odr_users 
        where 
            Email = #{email} 
            AND password = #{passWord} 
            AND DeleteFlag = 0
    </select>
    <!-- TBL「ユーザ」更新 -->
    <update id="updateLoginDate">
        UPDATE 
            odr_users
        SET
            LastLoginDate = CURRENT_TIMESTAMP()
        WHERE
            Email = #{email} 
            AND password = #{passWord} 
            AND DeleteFlag = 0
    </update>
</mapper>