<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.MediationMapper">

<select id="Mediationstatus" resultType="com.web.app.domain.MediateUser">
 SELECT
            Status
        FROM
            case_mediations
        WHERE
            CaseId = #{CaseId}
</select>

<select id="MediatorUserEmail" resultType="string">
 SELECT
            MediatorUserEmail
        FROM
            case_relations
        WHERE
            CaseId = #{CaseId}
</select>

<select id="MediatorUserUid" resultType="string">
 SELECT
            Uid
        FROM
            odr_users
        WHERE
            Email = #{MediatorUserEmail}
</select>

</mapper>