<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.ReplyWithdrawMapper">
    <update id="updateReplyWithdrawByCase" parameterType="com.web.app.domain.ReplyTrsg.ReplyWithdraw">
        UPDATE
            cases
        SET
            CaseStage = 3,
            CaseStatus = '0300',
            NegotiationStartDate = NOW(),
            NegotiationEndDate = #{negotiationEndDate},
            NegotiationEndDateChangeStatus = 0,
            NegotiationEndDateChangeCount = 0,
            LastModifiedDate = NOW(),
            LastModifiedBy = #{userId}
        WHERE
            cid = #{caseId}
            AND DeleteFlag = 0
    </update>
    <update id="updateReplyWithdrawByCaseReplies" parameterType="com.web.app.domain.ReplyTrsg.ReplyWithdraw">
        UPDATE
            case_replies
        SET
            WithDrawDate = NOW(),
            Status = 2,
            LastModifiedDate = NOW(),
            LastModifiedBy = #{userId}
        WHERE
            CaseId = #{caseId}
            AND PlatformId = #{platformId}
            AND DeleteFlag = 0
    </update>
</mapper>