<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.UpdCaseEstablishMapper">
    <resultMap id="caseNegotiationsResultMap" type="com.web.app.domain.Entity.CaseNegotiations">
    </resultMap>
    <!-- 和解案確認データ（StatusとPayAmount）を取得する -->
    <select id="selectCaseNegotiations" resultMap="caseNegotiationsResultMap">
        SELECT
            Status,
            PayAmount
        FROM
            case_negotiations
        WHERE
            id = #{caseNegotiationsId}
    </select>
    <!-- TBL「案件（cases）」更新 -->
    <update id="updateCases" parameterType="com.web.app.domain.Entity.Cases">
        UPDATE cases
        SET
            CaseStatus = '0500',
            CaseStage = '5',
            ResolutionDate = UTC_TIMESTAMP(),
            ResolutionFlag = '1',
            PayFlag = #{PayFlag},
            CounterclaimPayFlag = null,
            LastModifiedDate = UTC_TIMESTAMP(),
            LastModifiedBy = #{LastModifiedBy}
        WHERE
            cid = #{cid}
    </update>
</mapper>