<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.UpdCasesMapper">

    <update id="updateCasecase" parameterType="com.web.app.domain.AnswerLoginConfirm.UpdCases">
        UPDATE react_use.cases ca,react_use.case_relations re
        <set>
            ca.CaseStage = #{caseStage},
            ca.CaseStatus = #{caseStatus},
            ca.CounterclaimFlag = #{counterclaimFlag},
            <if test="counterclaimFlag = 1 ">
                ca.CounterclaimStartDate = #{counterclaimStartDate},
                ca.CounterclaimEndDate = #{counterclaimEndDate},            
            </if>
            <if test="counterclaimFlag = 0 ">
                ca.NegotiationStartDate = #{negotiationStartDate},
                ca.NegotiationEndDate = #{negotiationEndDate},        
            </if>
            <if test="counterclaimFlag = 0 and phaseNegotiation = 1 ">
                ca.NegotiationEndDateChangeStatus = 0,
                ca.NegotiationEndDateChangeCount = 0,         
            </if>
            ca.CancelDate = NULL,
            ca.LastModifiedDate = #{newDate},
            ca.LastModifiedBy = '2020/08/12 6:19:14'
        </set>
        WHERE
            ca.PlatformId = re.PlatformId
            AND ca.Cid = re.CaseId 
            AND ca.cid = #{cid}
            AND ca.PlatformId = #{platformId}
            AND ca.CaseStage = '0'
            AND ca.CaseStatus = '0001'
            AND ca.DeleteFlag = '0'
            AND
            ( re.TraderUserEmail = #{traderUserEmail}
            OR re.TraderAgent1_UserEmail = #{traderagentuserListAll[0]}
            OR re.TraderAgent2_UserEmail = #{traderagentuserListAll[1]}
            OR re.TraderAgent3_UserEmail = #{traderagentuserListAll[2]}
            OR re.TraderAgent4_UserEmail = #{traderagentuserListAll[3]}
            OR re.TraderAgent5_UserEmail = #{traderagentuserListAll[4]} )
    </update>

</mapper>
