<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.UpdMediatorHistoriesResignMapper">

    <update id="updMediatorHistoriesResign" parameterType="com.web.app.domain.Entity.MediatorHistories">
        UPDATE
            mediator_histories
        SET
            ResignFlag = 1,
            Status = 4,
            LastModifiedDate = NOW(),
            LastModifiedBy = #{lastModifiedBy}
        WHERE
            userId = #{userId}
            AND caseId = #{caseId}
    </update>
</mapper>