<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.UpdMediatorDisclosureFlagMapper">
    <!-- 調停人情報開示制限 -->
    <update id="updMediatorDisclosureFlag" parameterType="string">
        UPDATE cases
        SET
            MediatorDisclosureFlag = 2,
            LastModifiedDate = #{LastModifiedDate},
            LastModifiedBy = #{UserId}            
        WHERE
            CaseId = #{caseId}
    </update>
</mapper>
