<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.UpdNegotiatAgreeMapper">
    <update id="updateCount" parameterType="com.web.app.domain.UpdNegotiatAgree.ReconciliationUser">
        UPDATE case_negotiations
        SET
            AgreementDate = #{AgreementDate},
            HtmlContext = #{HtmlContext},
            HtmlContext2 = #{HtmlContext2},
            Status = 3,
            LastModifiedDate = #{LastModifiedDate},
            LastModifiedBy = #{LastModifiedBy}
        WHERE
            id = #{id}
    </update> 
</mapper>