<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.UpdNegotiationsTempMapper">
    <select id="getNegotiationsStatusInfoSearch" resultType="com.web.app.domain.NegotiatMake.SettlementDraftDataCaseNegotiations">
        SELECT
        Status,
        UserId,
			id
        FROM case_negotiations
        WHERE   
            CaseId = #{sessionCaseId}  
            AND PlatformId = #{platformId}
            AND DeleteFlag =0
    </select>
    <insert id="insertFilesInfo" parameterType="com.web.app.domain.NegotiatMake.SettlementDraftDataFiles">
        INSERT INTO files (
            id,
			PlatformId,
			CaseId,
			FileName,
			FileExtension,
			FileUrl,
			FileBlobStorageId,
			FileSize,
			RegisterUserId,
			RegisterDate,
			Other01,
			Other02,
			Other03,
			Other04,
			Other05,
			DeleteFlag,
			LastModifiedDate,
			LastModifiedBy
        )
        VALUES (#{id},
				#{PlatformId},
				#{CaseId},
				#{FileName},
				#{FileExtension},
				#{FileUrl},
				#{FileBlobStorageId},
				#{FileSize},
				#{RegisterUserId},
				#{RegisterDate},
				#{Other01},
				#{Other02},
				#{Other03},
				#{Other04},
				#{Other05},
				#{DeleteFlag},
				#{LastModifiedDate},
				#{LastModifiedBy}
        )
    </insert>
    <insert id="insertCaseFileRelationsInfo" parameterType="com.web.app.domain.NegotiatMake.SettlementDraftDataCaseFileRelations">
        INSERT INTO case_file_relations (
            id,
			PlatformId,
			CaseId,
			RelationType,
			RelatedId,
			fileId,
			Other01,
			Other02,
			Other03,
			Other04,
			Other05,
			DeleteFlag,
			LastModifiedDate,
			LastModifiedBy
        )
        VALUES (#{id},
				#{PlatformId},
				#{CaseId},
				4,
				#{RelatedId},
				#{fileId},
				#{Other01},
				#{Other02},
				#{Other03},
				#{Other04},
				#{Other05},
				#{DeleteFlag},
				#{LastModifiedDate},
				#{LastModifiedBy}
        )
    </insert>
    <update id="updateCaseNegotiationsInfo">
        UPDATE  case_negotiations 
        SET
			ExpectResloveTypeValue = #{caseNegotiations.ExpectResloveTypeValue},
			OtherContext = #{caseNegotiations.OtherContext},
			PayAmount = #{caseNegotiations.PayAmount},
			CounterClaimPayment = #{caseNegotiations.CounterClaimPayment},
			PaymentEndDate = #{caseNegotiations.PaymentEndDate}, 
			LastModifiedDate= #{caseNegotiations.LastModifiedDate},
			ShipmentPayType = #{caseNegotiations.ShipmentPayType},
			SpecialItem = #{caseNegotiations.SpecialItem},			
			LastModifiedBy = #{caseNegotiations.LastModifiedBy},
            Status = #{caseNegotiations.Status},
            UserId = #{caseNegotiations.UserId}
        WHERE 
        id = #{sessionCaseId}
    </update>
    <update id="updateFilesInfo">
        UPDATE  files 
        SET
			DeleteFlag = 1,
			LastModifiedDate = #{files.LastModifiedDate},
			LastModifiedBy = #{files.LastModifiedBy}
        WHERE
		id in
		    <foreach collection="sessionObjFileIdList" item="sessionObjFileId" separator="," open="(" close=")">
                #{sessionObjFileId}
            </foreach>
    </update>
    <update id="updateCaseFileRelationsInfo">
        UPDATE  case_file_relations 
        SET
			DeleteFlag = 1,
			LastModifiedDate = #{caseFileRelations.LastModifiedDate},
			LastModifiedBy = #{caseFileRelations.LastModifiedBy}
        WHERE 
        fileId  in
		    <foreach collection="sessionObjCaseFileRelationsIdList" item="sessionObjCaseFileRelationsId"  separator="," open="(" close=")">
                #{sessionObjCaseFileRelationsId}
            </foreach>
    </update>	
</mapper> 