<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.mapper.UpdNegotiatAgreeMapper">

 <update id="reconciliationUpdate" parameterType="com.web.app.domain.ReconciliationUser">
        UPDATE case_negotiations
        SET
            <!-- AgreementDate = #{AgreementDate}, -->
             AgreementDate = NOW(),
            HtmlContext = #{HtmlContext},
            HtmlContext2 = #{HtmlContext2},
            Status = 3,
            <!-- LastModifiedDate = #{LastModifiedDate}, -->
            LastModifiedDate = NOW(),
            LastModifiedBy = #{LastModifiedBy}
        WHERE
            id = #{id}
</update> 

<select id="UserSearch" resultType="com.web.app.domain.ActionHistories">
     SELECT
        PetitionUserInfo_Email,
        Agent1_Email,
        Agent2_Email,
        Agent3_Email,
        Agent4_Email,
        Agent5_Email,
        TraderUserEmail,
        TraderAgent1_UserEmail,
        TraderAgent2_UserEmail,
        TraderAgent3_UserEmail,
        TraderAgent4_UserEmail,
        TraderAgent5_UserEmail,
        MediatorUserEmail
        FROM
            case_relations
        WHERE
            CaseId = #{CaseId}
            AND DeleteFlag = 0
</select>

    <insert id="ActionHistoriesInsert" parameterType="com.web.app.domain.ActionHistories">
        INSERT INTO action_histories (
            id,
            PlatformId,
            CaseId,
            ActionType,
            CaseStage,
            UserId,
            UserType,
            ActionDateTime,
            MessageGroupId,
            MessageId,
            HaveFile,
            Other01,
            Other02,
            Other03,
            Other04,
            Other05,
            DeleteFlag,
            LastModifiedDate,
            LastModifiedBy
        )
        VALUES (
            #{id},
            #{PlatformId},
            #{CaseId},
            #{ActionType},
            #{CaseStage},
            #{UserId},
            #{UserType},
            NOW(),
            NULL,
            NULL,
            #{HaveFile},
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            #{DeleteFlag},
            NOW(),
            #{LastModifiedBy}
        )
    </insert>

<select id="CaseTitleSearch" resultType="String">
 SELECT
            CaseTitle
        FROM
            cases
        WHERE
            cid = #{Cid}
</select>
</mapper>